.text-body h4{

    color: yellow;
    font-size: 40px;  
    margin-left: 10%;


}
.text-body h5{

    font-size: 30px;  

}
.text-body{

    font-family: 'Times New Roman', Times, serif;

}

.form-text{

    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}

.text-body p{

    color: yellow;
    font-size: 20px;
    margin-left: 10%;
  
}

.navbar-nav li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.icon{
    color: black;
    text-decoration: none;
}
.icon:hover{
    text-decoration: none;
}

.button {
    background-color: yellow;
    border: none;
    color: white;
    padding: 15px 32px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  /* ==========================================================================
     #BUTTON
     ========================================================================== */
  .btn {
    display: inline-block;
    line-height: 40px;
    padding: 0 33px;
    font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 18px;
  }
  
  .btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  
  .btn--green {
    background: #57b846;
  }
  
  .btn--green:hover {
    background: #4dae3c;
  }
  
 
  
  /* ==========================================================================
     #FORM
     ========================================================================== */
  input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
  }
  
  .input-icon {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .input--style-3 {
    padding: 5px 0;
    font-size: 16px;
    color: #ccc;
    background: transparent;
  }
  
  .input--style-3::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ccc;
  }
  
  .input--style-3:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    opacity: 1;
  }
  
  .input--style-3::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
    opacity: 1;
  }
  
  .input--style-3:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc;
  }
  
  .input--style-3:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc;
  }
  
 
  
  
  