:root {
  --main-color: #90ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

body {
  background-color: black;
  color: white;
  line-height: 1.6;
}

img {
  width: 100%;
}

.navbar {
  margin: 5rem 10rem;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav h1 {
  font-size: 3rem;
  position: relative;
  margin-left: 2.2rem;
}

.nav h1::before {
  background-color: var(--main-color);
  content: "";
  display: inline-block;
  margin-top: -2px;
  position: absolute;
  left: -35px;
  top: 50%;
  width: 30px;
  height: 2px;
}

.nav p {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.primary-btn {
  background-color: black;
  border: 1px solid var(--main-color);
  color: #90ffff;
  outline: none;
  text-transform: uppercase;
  padding: 1.5rem 2rem;
}

.primary-btn:hover {
  opacity: 0.5;
}

.portfolio-btn {
  background-color: black;
  border: 1px solid var(--main-color);
  color: #90ffff;
  font-size: 0.8rem;
  margin: 1.7rem 0;
  outline: none;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
}

.portfolio-btn:hover {
  opacity: 0.5;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  align-items: center;
  margin: 5rem 10rem;
}

.portfolio h2 {
  color: var(--main-color);
  margin-bottom: 1rem;
}

.portfolio p {
  margin-bottom: 2rem;
}

.portfolio-card {
  border: 1px solid var(--main-color);
  border-bottom: 4px solid var(--main-color);
  border-radius: 5px;
  box-shadow: 0 0 25px -5px var(--main-color);
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}

.portfolio-card:hover {
  transform: scale(1.1);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8rem 0;
}

.contact h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .navbar {
    margin: 5rem 2rem;
  }
  .portfolio {
    margin: 0 2rem;
  }
}
